// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #c3c3c3;
$black: rgb(36, 36, 36);
$light-gray: #F4F4F4;
$primary: #5A75D3
