.simple_form{
  background-color: $box-color;
  border-radius: $border-radius;
  padding: 1rem;
  margin: 1rem;
  box-shadow: 0 0 7px 2px rgba(255, 255, 255, 0.6);

  .form-title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
  .form-group, .form-check {
    margin-bottom: 1rem;
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
  }

  .form-check {
    position: inherit;
    display: flex;
    padding-left: 0;
    flex-direction: row-reverse !important;
  }

  .form-check-input {
    position: inherit;
    margin-top: 0;
    margin-left: 0;

  }

  .form-control, .form-check-input {
    min-width: 100px;
    width: 60%;
  }

  .invalid-feedback{
    width: auto;
  }
}
