*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.nav {
  position: absolute;
  background-color: white;
  height: 100vh;

  #circle-gray{
    right: 6px;
  }
  #circle-white{
    right: -20px;
  }

  #nav-btn-gray {
    right: 0 !important;
  }

  &__expand {
    height: 110px;
    position: absolute;
    right: -31px;
    top: 2rem;
    z-index: 98;
    cursor: pointer;
    transition: transform 200ms ease-in-out;

    &:hover {
      fill: $gray;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;

    &item {
      list-style: none;
      transition: all 200ms ease-in;
      padding: 1rem 1.5rem;
      border-left: 6px solid transparent;
      cursor: pointer;


      &#pri-menu-end{
        border-bottom: 1px solid $light-gray;
      }

      &:first-child {
        margin-bottom: 2rem;
      }

      a {
        display: flex;
        gap: 1rem;
        align-items: center;
        color: $gray!important;
        text-decoration: none;
        font-weight: 500;
         p {
          color: $black;
          margin-bottom: 0;
        }
      }

      a::before {
        font-family: "Font Awesome 5 Free";
        display: inline-block;
        padding-right: 3px;
        vertical-align: middle;
        font-weight: 900;
        font-size: 2rem;
      }

      #dashboard-icon::before {
        content: "\f009";
      }
      #payments-icon::before {
        content: "\f5b3";
      }
      #invoices-icon::before {
        content: "\f59a";
      }
      #settings-icon::before {
        content: "\f0c0";
      }
      #logout-icon::before {
        content: "\f2f5";
      }

      svg {
        fill: $gray;
        width: 2rem;
      }

      &-active, &:hover {
        a::before,
        p {
          color: var(--primary-color) !important;
          fill: var(--primary-color);
        }
      }
    }
  }

  //close state

  .hide {
    display: none;
  }

  &-closed &__listitem p {
    display: none;
  }
}
