// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

:root{
  --primary-color: #167FFB;
}

html, body {
  height: 100%;
  overflow: hidden;
  background-color: rgb(183,225, 252);
}

p, h1, h2, h3, span, button, a, label {
  color: var(--primary-color);
}

.main {
  margin-left: 15vw;
  padding: 1rem 2rem;
  &-closed {
    margin-left: 6vw;
  }
  height: 100%;
}

.btn, .btn-outlined-primary {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  &:hover {
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
  }
}
.btn-primary {
  color: white !important;
}
