// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

p, h1, h2, h3, span, button, a {
  color: $primary;
}

.main {
  margin-left: 15vw;
  &-closed {
    margin-left: 6vw;
  }
}
